.Modal {
    position: fixed;
    top: 30%;
    left: 15%;
    z-index: 500;
    background: #fff;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #111;
    padding: 1em;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 500px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}